
// Colors

$white  : #fff;
$black  : #000;
$cream  : #f4f2e7;
$offwhite : #f0f0f0;
$steelblue : steelblue;
$lsb : lightsteelblue;
$fgreen : forestgreen;
$grey : #ccc;
$turq : turquoise;


// Media Query Breakpoints

$brk-narrow : '(min-width: 500px)';
$brk-medium : '(min-width: 768px)';
$brk-large  : '(min-width: 1024px)';
